@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --font-jost: 'Jost', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost);
}

.inputBox {
  @apply w-full mt-2 p-3 rounded-xl border border-gray-300 focus:border-purple-600 focus:ring-2 focus:ring-purple-200 outline-none transition;
}

.toggleBox {
  @apply w-5 h-5 rounded cursor-pointer accent-purple-600;
}

.badge {
  @apply px-3 py-1 rounded-full text-sm font-semibold flex items-center gap-1;
}

.actionBtn {
  @apply p-2 rounded-xl shadow bg-gray-100 hover:bg-gray-200 transition;
}

.editBtn {
  @apply text-blue-600;
}

.deleteBtn {
  @apply text-red-600;
}